.header {
    max-width: 800px;
    margin: 50px auto;
    

    .wrapper:not(.show) {
        display: none;
        
    }
}

     .wrapper {
        background-color: rgba($color: #000000, $alpha: 0.45);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .window {
            // display: block;
            position: absolute;
            z-index: 2;
            top: 25%;
            left:  35%;
            text-align: center;
            width: 500px;
            height: 250px;
            // border: 3px solid white;
            background-color: rgb(223, 225, 233);
            line-height: 25px;
            border-radius: 0 0 1% 1%;
            color: black;

            .window1 {
                text-align: center;
                border-bottom: 3px solid white;
                background-color: rgba($color: #0e0eb8c5, $alpha: 1);
                color: white;
                // border-radius: 5% 5% 0% 0%;
            }
            .window2 {
                text-align: left;
                padding: 5px;
                font-size: 25px;
            }

            .btn-close {
                position: absolute;
                right: 5px;
                top: 3px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                font-size: 18px;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                opacity: 0.6;

            }
            .btn-close:hover {
                font-weight: bold ;
                opacity: 0.9;
            }

        }
    }

